.prompt-page {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /* font-weight: bold; */
    height: 60px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
.buttons {
    align-content: end;
    align-items: end;
}
div {
  display: flex;
  justify-content: end;
}
button {
  background: lightgrey;
  color: black;
    margin-right: 5px;
  /*font-family: courier new;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  height: 50px;*/
  text-align: center;
  /* width: 75px; */
}